title {
  color: #444;
}

.myheader {
  display: block;
}

.mainimg {
  opacity: .9;
  position: relative;
  z-index: 0;
}

.navbar-default {
  opacity: 1;
}

.container2 {
  margin-top: 15px;
}

.col-sm-3 {
  padding: 0px;
}

.col-sm-3 img {
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.col-sm-3 a:hover img {
	opacity: .5;
}

.killer {
  color: #f015a5;
}

.aboutme {
  display: inline;
}

.aboutmepic {
  float: left;
  margin-top: 20px;
  margin-left: 70px;
  padding: 20px;
}

.aboutmetext {
  float: left;
  max-width: 500px;
  margin-top: 20px;
  margin-left: 50px;
  padding: 0px 10px;
  text-align: justify;
  font-size: 14pt;
}

.appscontent {
  margin-top: 30px;
}

.othercontent {
  margin-top: 30px;
}

.websitescontent {
  margin-top: 30px;
}

.websitescontent p {
  max-width: 600px;
}

table {
  font-size: 16px;
  height: 80px;
  width: 1000px;
}

th {
  width: 220px;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: justify;
}

th.desc, td.desc {
  width: 300px;
}

.glyphicon {
  color: #eee;
  font-size: 40pt;
  padding-top: 35px;
}

.thumbnail {
  position: relative;
  margin-top: -25px;
  margin-bottom: -20px;
  border: none;
}

.caption {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.caption h1 {
  font-size: 70pt;
  color: #eee;
}

.caption h2 {
  font-size: 20pt;
  color: #eee;
}
